body {
    background-color: black (43, 128, 226);
    }
     
    h1 {
    text-align: center;
    }
     
    p {
    color: red;
    text-align: center;
    color: black;
    text-align: center;
    }
     
    #navigation {
    text-align: center;
    }
     
    #img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    }
     
    #name {
    background-color: black
    }
     
    h2 {
    text-align: center;
    }
     
    ul {
    text-align: center;
    }
     
    h3 {
    text-align: center;
    }
     
    a:link,
    a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }
     
    a:hover,
    a:active {
    background-color: red;
    }
     
    img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
     
    table  th, td {
 border: 1px solid black;
        border-collapse: collapse;

    }
     
    td,
    th {
    border: 1pxsolid#b63434;
    text-align: left;
    padding: 8px;
    border: 1pxsolidblack;
    padding: 8px;
    height: 50px;
    text-align: center;
    background-color:red 
    color black;
    ba
    }
     
    .lol:hover {
    background-color: red;
    }